Pods/
xcuserdata/
build/

.DS_Store

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate


NETNow/Pods/Pods.xcodeproj/project.pbxproj

NETNow/NETNow.xcworkspace/xcshareddata/NETNow.xccheckout

NETNow/Libs/nmp-sdk/kop_htc/patcher/settings/__init__.pyc

NETNow/Libs/nmp-sdk/kop_htc/patcher/settings/user_config.pyc
