<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>desafiob2w.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>desafiob2wUiTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC1187BE20D2137000A77FC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC1187D220D2137200A77FC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECE9553120DDBF8700BEF2D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
